<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/klala/IdeaProjects/RestAssuredFramework/src/test/java/org/example/CRUD/TC_Integration.java"><classes><class name="org.example.CRUD.TC_Integration"><methods><include name="testCreateBooking"/></methods></class></classes></test></suite>